ul {
    color: rgb(170, 17, 119);
    background-color: rgb(231, 161, 166);
    max-width: 250px;
    text-align:center;
    border-color:blue;
    border-style: double;
    border-width: 5px;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;
}